.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
new/.DS_Store
new/old/.DS_Store
new/node_modules/
new/package-lock.json
new/docs/.DS_Store
new/old/.DS_Store
new/.DS_Store
new/images/.DS_Store