/* Enable automatic light/dark mode */
:root {
  color-scheme: light dark;
}

/* Navigation styles */
nav a {
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

nav a.current {
  font-weight: bold;
  color: red;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
  border-bottom-style: solid;
}

/* Dark mode switcher styles */
.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
}
