html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #C3D9F1; 
}

a {
  color: #00d1b2;
}

n1 {
	font-size:18px;
}

.collapsible {
	background-color: #1B2D55;
	color: white;
	cursor: pointer;
	padding: 15px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size:2rem;
	margin: 0;
	font-weight: 300;
}


  
.active, .collapsible:hover {
	/*#1B2D55  */
	background-color: #0B1738;
}
  

.collapsible1 {
	background-color: #273b64;
	color: white;
	cursor: pointer;
	padding: 15px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size:2rem;
	margin: 0;
	font-weight: 300;
}


  
.active, .collapsible1:hover {
	/*#0B1738  */
	background-color: #1B2D55;
}

.ok {
	padding-left: 25px;
}

.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #273b64;
}

.content1 {
	padding: 0 -15px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #273b64;
}

.column1 {
	float: left;
	width: 50%;
  }

.column2 {
	float: left;
	width: 45%;
  }
  
.column25 {
	float: left;
	width: 55%;
  }
  /* Clear floats after the columns */
.row1:after {
	content: "";
	display: table;
	clear: both;
}



a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #C3D9F1;
}

.section-2 {
	background-color: #1B2D55;
}


/*#063647     #1c4966*/

.section-2-5 {
	background-color: #0B1738;
}

.section-3 {
	background-color: #0E282E;
}

.section-4 {
	background-color: #C3D9F1;
	padding: 0.2rem;
}

.test{
	text-align: center;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height: auto;
	border-radius: 50%;
	max-width: 30%
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
	padding-top: 1.5rem;
}

.classy {
	padding-top: 1.5rem;
	padding-bottom: 1.3rem;
}

footer {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	font-family: 'Roboto Mono', monospace;
	text-align: justify;
	width: 100%;
	margin: 0 auto;
}

.intro1 {
	display: inline-block;
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #C3D9F1;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #1B2D55;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}



h1{font-family: 'Syncopate', cursive;
}

h1p{font-family: 'Syncopate', cursive;
	color:"white"; max-width: 70%;
}

#yantitle{font-size:14px;margin:20px;padding-left:10px; color:white;}

.border {
	border: 5px solid rgb(10, 75, 132);
  }



.fullimg{
	max-width:100%;
	height:auto;
}







.ssize {
    width: 50vw;
    height: 50vh;
}  